In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, accuracy_score
from sklearn.model_selection import cross_val_score

In [2]:
%matplotlib inline
import matplotlib.pyplot as plt

In [3]:
# Load the dataset
df = pd.read_csv("COVID-19BehaviorData_CAN2022.csv", low_memory=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6430 entries, 0 to 6429
Columns: 512 entries, RecordNo to future_3
dtypes: float64(1), int64(3), object(508)
memory usage: 25.1+ MB

In [4]:
# remove empty columns
df1 = df
# strip all white space for string values
df1 = df1.map(lambda x: x.strip() if isinstance(x, str) else x)
# replace all empty strings to NaN
df1.replace('', np.nan, inplace=True)
# replace all __NA__ strings to NaN
df1.replace('__NA__', np.nan, inplace=True)
# drop columns with only NaN values
df_cleaned = df1.dropna(axis=1, thresh = len(df1)*0.55)
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6430 entries, 0 to 6429
Data columns (total 68 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   RecordNo            6430 non-null   int64
 1   endtime             6430 non-null   object
 2   qweek               6430 non-null   object
 3   i2_health           4423 non-null   object
 4   i9_health           6430 non-null   object
 5   i11_health          6430 non-null   object
 6   i12_health_1        6430 non-null   object
 7   i12_health_2        5429 non-null   object
 8   i12_health_3        6430 non-null   object
 9   i12_health_4        6430 non-null   object
 10  i12_health_5        6430 non-null   object
 11  i12_health_6        6430 non-null   object
 12  i12_health_7        6430 non-null   object
 13  i12_health_8        6430 non-null   object
 14  i12_health_11       5429 non-null   object
 15  i12_health_12       6430 non-null   object
 16  i12_health_13       6430 non-null   object
 17  i12_health_14       6430 non-null   object
 18  i12_health_15       6430 non-null   object
 19  i12_health_16       6430 non-null   object
 20  weight              6430 non-null   float64
 21  gender              6430 non-null   object
 22  age                 6430 non-null   int64
 23  region              6430 non-null   object
 24  household_size      6430 non-null   object
 25  household_children  6430 non-null   object
 26  employment_status   6430 non-null   object
 27  cantril_ladder      6430 non-null   int64
 28  PHQ4_1              6430 non-null   object
 29  PHQ4_2              6430 non-null   object
 30  PHQ4_3              6430 non-null   object
 31  PHQ4_4              6430 non-null   object
 32  WCRex2              6430 non-null   object
 33  WCRex1              6430 non-null   object
 34  i12_health_22       6430 non-null   object
 35  i12_health_23       5429 non-null   object
 36  i12_health_25       6430 non-null   object
 37  r1_1                6430 non-null   object
 38  r1_2                6430 non-null   object
 39  i12_health_26       6430 non-null   object
 40  i12_health_27       6430 non-null   object
 41  i12_health_28       6430 non-null   object
 42  i12_health_29       6430 non-null   object
 43  Soc1_1              4423 non-null   object
 44  Soc1_2              4423 non-null   object
 45  Soc1_3              4423 non-null   object
 46  vac2_1              6430 non-null   object
 47  vac2_2              6430 non-null   object
 48  vac2_3              6430 non-null   object
 49  vac7                6430 non-null   object
 50  r1_8                6430 non-null   object
 51  r1_9                6430 non-null   object
 52  vac2_7              6430 non-null   object
 53  vac                 6430 non-null   object
 54  Vent_3              6430 non-null   object
 55  vac_boost_1         5786 non-null   object
 56  vac_man_1           6430 non-null   object
 57  vac_man_2           6430 non-null   object
 58  vac_man_3           6430 non-null   object
 59  vac_man_4           6430 non-null   object
 60  vac_man_5           6430 non-null   object
 61  vac_man_6           6430 non-null   object
 62  vac_man_7           6430 non-null   object
 63  vac_man_96          6430 non-null   object
 64  vac_man_99          6430 non-null   object
 65  future_1            4799 non-null   object
 66  future_2            4799 non-null   object
 67  had_covid_2         3570 non-null   object
dtypes: float64(1), int64(3), object(64)
memory usage: 3.3+ MB

In [5]:
# load the instructions file
ins = pd.read_excel("ins.xlsx")
ins.replace(np.nan, '', inplace=True)

In [6]:
# find the rows with valid_values and record their row number
valid_values_index = ins[ins.iloc[:, 0] == 'Valid Values'].index
print(valid_values_index)

Index([  17,  102,  112,  123,  131,  139,  147,  155,  163,  171,
       ...
       4781, 4789, 4797, 4811, 4819, 4830, 4841, 4852, 4860, 4871],
      dtype='int64', length=481)

In [7]:
# get the column names of our NAcolumn-free data
column_names = df_cleaned.columns
print(column_names)

Index(['RecordNo', 'endtime', 'qweek', 'i2_health', 'i9_health', 'i11_health',
       'i12_health_1', 'i12_health_2', 'i12_health_3', 'i12_health_4',
       'i12_health_5', 'i12_health_6', 'i12_health_7', 'i12_health_8',
       'i12_health_11', 'i12_health_12', 'i12_health_13', 'i12_health_14',
       'i12_health_15', 'i12_health_16', 'weight', 'gender', 'age', 'region',
       'household_size', 'household_children', 'employment_status',
       'cantril_ladder', 'PHQ4_1', 'PHQ4_2', 'PHQ4_3', 'PHQ4_4', 'WCRex2',
       'WCRex1', 'i12_health_22', 'i12_health_23', 'i12_health_25', 'r1_1',
       'r1_2', 'i12_health_26', 'i12_health_27', 'i12_health_28',
       'i12_health_29', 'Soc1_1', 'Soc1_2', 'Soc1_3', 'vac2_1', 'vac2_2',
       'vac2_3', 'vac7', 'r1_8', 'r1_9', 'vac2_7', 'vac', 'Vent_3',
       'vac_boost_1', 'vac_man_1', 'vac_man_2', 'vac_man_3', 'vac_man_4',
       'vac_man_5', 'vac_man_6', 'vac_man_7', 'vac_man_96', 'vac_man_99',
       'future_1', 'future_2', 'had_covid_2'],
      dtype='object')

In [8]:
# get the row number for these columns（included future 3)
column_index = ins[ins.iloc[:, 0].isin(column_names)].index
print(column_index)

Index([   0,    6,   12,   85,  203,  224,  236,  247,  258,  269,  280,  291,
        302,  313,  346,  357,  368,  379,  390,  401,  692,  698,  704,  723,
        731,  747,  760,  773,  808,  825,  836,  847,  858, 1688, 1710, 1721,
       1743, 1754, 1767, 2380, 3055, 3066, 3077, 3088, 3096, 3104, 3188, 3199,
       3210, 3371, 3509, 3522, 3548, 3568, 4144, 4615, 4728, 4736, 4744, 4752,
       4760, 4768, 4776, 4784, 4792, 4825, 4836, 4847],
      dtype='int64')

In [9]:
# Change our previous findings to lists
column_index_list = column_index.tolist()
valid_index_list = valid_values_index.tolist()

In [10]:
# define a funtion that can find the columns that have inputs
def filter_valid_col(col,val):
    valid_col = []
    valid_id = []
    for index in col:
        if (index + 5) in val:
            valid_col.append(index)
    return valid_col

In [11]:
# collect the columns that have inputs into a list
valid_columns = filter_valid_col(column_index_list,valid_index_list)
print(valid_columns)
print(len(valid_columns))

[12, 203, 224, 236, 247, 258, 269, 280, 291, 302, 313, 346, 357, 368, 379, 390, 401, 704, 723, 731, 747, 760, 773, 808, 825, 836, 847, 858, 1688, 1710, 1721, 1743, 1754, 1767, 2380, 3055, 3066, 3077, 3088, 3096, 3104, 3188, 3199, 3210, 3371, 3509, 3522, 3548, 3568, 4144, 4615, 4728, 4736, 4744, 4752, 4760, 4768, 4776, 4784, 4792, 4825, 4836, 4847]
63

In [12]:
# define a function that can find values for replacing
def find_value(col_id, value, ins_data):
    vvi = col_id+5
    last = len(ins_data)
    while (vvi < last) and ins_data.iloc[vvi,2] != '':
        if value == ins_data.iloc[vvi,2]:
            return int(ins_data.iloc[vvi,1])
        else:
            vvi = vvi+1
    return value

In [13]:
# define a function that can replace values according to instructions
def filler(oridata, columnidlist, ins_data):
    size = len(oridata)
    for index in columnidlist:
        # get the column name
        column_name = ins_data.iloc[index,0]
        for i in range(0,size):
            if oridata.at[i,column_name] != np.nan:
                oridata.at[i,column_name] = find_value(index,oridata.at[i,column_name],ins_data)
    return

In [14]:
# create a copy of df_cleaned and replace values with valid values according to instructions
newdata = df_cleaned
filler(newdata, valid_columns, ins)

In [15]:
# view our current data to see if our replacements are successful
newdata.head(20)

,RecordNo,endtime,qweek,i2_health,i9_health,i11_health,i12_health_1,i12_health_2,i12_health_3,i12_health_4,...,vac_man_3,vac_man_4,vac_man_5,vac_man_6,vac_man_7,vac_man_96,vac_man_99,future_1,future_2,had_covid_2
0,41589,06/01/2022 18:02,44,0,1,1,1,1,1,1,...,1,1,1,1,1,0,0,NaN,NaN,NaN
1,41731,03/01/2022 23:48,44,1,2,1,1,1,1,1,...,1,1,1,1,1,0,0,NaN,NaN,NaN
2,41756,10/01/2022 04:53,44,0,2,1,1,1,1,1,...,1,1,1,1,1,1,0,NaN,NaN,NaN
3,41846,01/01/2022 13:15,44,5,1,1,1,1,1,1,...,1,1,1,1,1,0,0,NaN,NaN,NaN
4,41847,01/01/2022 19:12,44,150,1,1,1,1,1,1,...,1,1,1,0,0,0,0,NaN,NaN,NaN
5,41867,01/01/2022 15:21,44,4,2,1,1,1,2,1,...,0,1,0,0,0,0,0,NaN,NaN,NaN
6,41868,01/01/2022 20:02,44,14,1,2,1,1,2,1,...,1,1,1,1,1,0,0,NaN,NaN,NaN
7,41920,02/01/2022 12:36,44,0,2,2,1,1,1,2,...,1,1,1,1,1,0,0,NaN,NaN,NaN
8,41937,01/01/2022 00:11,44,0,1,1,1,1,1,1,...,1,1,1,1,1,0,0,NaN,NaN,NaN
9,41951,01/01/2022 00:43,44,5,2,99,1,1,2,2,...,1,1,1,0,1,0,0,NaN,NaN,NaN
10,41952,01/01/2022 00:46,44,5,1,1,1,1,1,1,...,1,1,1,1,1,0,0,NaN,NaN,NaN
11,41953,01/01/2022 00:55,44,40,1,1,1,2,2,1,...,1,1,1,1,1,0,0,NaN,NaN,NaN
12,41954,03/01/2022 19:33,44,6,1,1,1,1,1,1,...,1,1,1,1,1,0,0,NaN,NaN,NaN
13,41955,01/01/2022 01:15,44,30,1,1,1,1,1,1,...,1,1,1,1,1,0,0,NaN,NaN,NaN
14,41956,01/01/2022 01:32,44,4,1,1,1,1,2,1,...,1,1,1,1,0,0,0,NaN,NaN,NaN
15,41957,01/01/2022 01:58,44,6,1,1,1,1,1,1,...,1,1,1,1,1,0,0,NaN,NaN,NaN
16,41958,02/01/2022 21:07,44,8,1,2,1,2,2,2,...,0,0,0,0,0,0,0,NaN,NaN,NaN
17,41959,01/01/2022 18:51,44,7,2,3,1,2,1,2,...,1,0,0,0,0,0,0,NaN,NaN,NaN
18,41960,01/01/2022 02:04,44,2,2,2,2,2,3,3,...,0,0,0,0,0,0,0,NaN,NaN,NaN
19,41961,01/01/2022 02:09,44,0,99,2,1,3,3,1,...,1,1,1,1,1,0,0,NaN,NaN,NaN

In [16]:
# keep columns with less than 45% NA values
newdf_nona = newdata.dropna(axis=1, thresh = len(newdata)*0.55)

In [17]:
# download and review our current data in Excel using filter to check if there is anything wrong 
newdf_nona.to_csv('before_inputting.csv', index = False)
#After viewing newdf_nona in Excel, we find out it has one input that should be considered as NA, and not told how to handle
# the input is 'Don't know'
newdf_nona.loc[:, 'household_children'] = newdf_nona['household_children'].replace("Don't know", np.nan)

In [18]:
# find columns that have NA values that need processing and show NA percentages
na_counts = newdf_nona.isna().mean() * 100
columns_with_na_sorted = na_counts[na_counts > 0].sort_values(ascending=False)
list_of_columns_with_na = list(columns_with_na_sorted.items())
print(list_of_columns_with_na)

[('had_covid_2', 44.47900466562986), ('i2_health', 31.213063763608083), ('Soc1_1', 31.213063763608083), ('Soc1_2', 31.213063763608083), ('Soc1_3', 31.213063763608083), ('future_1', 25.36547433903577), ('future_2', 25.36547433903577), ('i12_health_2', 15.56765163297045), ('i12_health_11', 15.56765163297045), ('i12_health_23', 15.56765163297045), ('vac_boost_1', 10.015552099533437), ('household_children', 0.13996889580093314)]

In [19]:
# get the names for these columns
selected_column_names = columns_with_na_sorted.index.tolist()
print(selected_column_names)

['had_covid_2', 'i2_health', 'Soc1_1', 'Soc1_2', 'Soc1_3', 'future_1', 'future_2', 'i12_health_2', 'i12_health_11', 'i12_health_23', 'vac_boost_1', 'household_children']

In [20]:
# define a function that can replace NA values with random values in the dataset
def NA_filler(selected_column, data):
    for names in selected_column:
        possible_values = data[names].dropna().values
        data.loc[:, names] = data[names].apply(lambda x: np.random.choice(possible_values) if pd.isna(x) else x)
    return

In [21]:
# create a copy of newdf_nona to do our NA value inputting
final_data = newdf_nona
NA_filler(selected_column_names, final_data)

In [22]:
# save our final data so our data is consistent every time, and preventing us from cleaning again
final_data.to_csv('final_data.csv', index = False)

In [23]:
# This is our final cleaned data, now we can read this instead of doing cleaning again
final_cleaned_data = pd.read_csv("final_data.csv", low_memory=False)

In [24]:
# check the data type for all columns
final_cleaned_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6430 entries, 0 to 6429
Data columns (total 68 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   RecordNo            6430 non-null   int64
 1   endtime             6430 non-null   object
 2   qweek               6430 non-null   int64
 3   i2_health           6430 non-null   int64
 4   i9_health           6430 non-null   int64
 5   i11_health          6430 non-null   int64
 6   i12_health_1        6430 non-null   int64
 7   i12_health_2        6430 non-null   int64
 8   i12_health_3        6430 non-null   int64
 9   i12_health_4        6430 non-null   int64
 10  i12_health_5        6430 non-null   int64
 11  i12_health_6        6430 non-null   int64
 12  i12_health_7        6430 non-null   int64
 13  i12_health_8        6430 non-null   int64
 14  i12_health_11       6430 non-null   int64
 15  i12_health_12       6430 non-null   int64
 16  i12_health_13       6430 non-null   int64
 17  i12_health_14       6430 non-null   int64
 18  i12_health_15       6430 non-null   int64
 19  i12_health_16       6430 non-null   int64
 20  weight              6430 non-null   float64
 21  gender              6430 non-null   int64
 22  age                 6430 non-null   int64
 23  region              6430 non-null   object
 24  household_size      6430 non-null   int64
 25  household_children  6430 non-null   float64
 26  employment_status   6430 non-null   int64
 27  cantril_ladder      6430 non-null   int64
 28  PHQ4_1              6430 non-null   int64
 29  PHQ4_2              6430 non-null   int64
 30  PHQ4_3              6430 non-null   int64
 31  PHQ4_4              6430 non-null   int64
 32  WCRex2              6430 non-null   int64
 33  WCRex1              6430 non-null   int64
 34  i12_health_22       6430 non-null   int64
 35  i12_health_23       6430 non-null   int64
 36  i12_health_25       6430 non-null   int64
 37  r1_1                6430 non-null   int64
 38  r1_2                6430 non-null   int64
 39  i12_health_26       6430 non-null   int64
 40  i12_health_27       6430 non-null   int64
 41  i12_health_28       6430 non-null   int64
 42  i12_health_29       6430 non-null   int64
 43  Soc1_1              6430 non-null   int64
 44  Soc1_2              6430 non-null   int64
 45  Soc1_3              6430 non-null   int64
 46  vac2_1              6430 non-null   int64
 47  vac2_2              6430 non-null   int64
 48  vac2_3              6430 non-null   int64
 49  vac7                6430 non-null   int64
 50  r1_8                6430 non-null   int64
 51  r1_9                6430 non-null   int64
 52  vac2_7              6430 non-null   int64
 53  vac                 6430 non-null   int64
 54  Vent_3              6430 non-null   int64
 55  vac_boost_1         6430 non-null   int64
 56  vac_man_1           6430 non-null   int64
 57  vac_man_2           6430 non-null   int64
 58  vac_man_3           6430 non-null   int64
 59  vac_man_4           6430 non-null   int64
 60  vac_man_5           6430 non-null   int64
 61  vac_man_6           6430 non-null   int64
 62  vac_man_7           6430 non-null   int64
 63  vac_man_96          6430 non-null   int64
 64  vac_man_99          6430 non-null   int64
 65  future_1            6430 non-null   int64
 66  future_2            6430 non-null   int64
 67  had_covid_2         6430 non-null   int64
dtypes: float64(2), int64(64), object(2)
memory usage: 3.3+ MB

In [25]:
# make sure the column with strings is correctly recognized
print(final_cleaned_data['region'].unique())

['Quebec / Québec' 'British Columbia / Colombie Britanique' 'Ontario'
 'Manitoba' 'Newfoundland & Labrador / Terre-Neuve-et-Labrador' 'Alberta'
 'Nova Scotia / Nouvelle-Écosse' 'New Brunswick / Nouveau-Brunswick'
 'Saskatchewan' 'Prince Edward Island / Île-du-Prince-Édouard' 'Nunavut'
 'Yukon']

In [26]:
# we looked at the instructions and found out the regions are in UK instead of Canada, so we need to assign valid values
# to Canadian Provinces as well
provinces = final_cleaned_data['region'].unique().tolist()
province_num = list(range(1,len(provinces)+1))
print(provinces)
print(province_num)

['Quebec / Québec', 'British Columbia / Colombie Britanique', 'Ontario', 'Manitoba', 'Newfoundland & Labrador / Terre-Neuve-et-Labrador', 'Alberta', 'Nova Scotia / Nouvelle-Écosse', 'New Brunswick / Nouveau-Brunswick', 'Saskatchewan', 'Prince Edward Island / Île-du-Prince-Édouard', 'Nunavut', 'Yukon']
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [27]:
for cell in final_cleaned_data['region']:
    if type(cell) == str: 
        final_cleaned_data.loc[:, 'region'] = final_cleaned_data['region'].replace(cell, provinces.index(cell)+1)

In [28]:
finished = final_cleaned_data
finished.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6430 entries, 0 to 6429
Data columns (total 68 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   RecordNo            6430 non-null   int64
 1   endtime             6430 non-null   object
 2   qweek               6430 non-null   int64
 3   i2_health           6430 non-null   int64
 4   i9_health           6430 non-null   int64
 5   i11_health          6430 non-null   int64
 6   i12_health_1        6430 non-null   int64
 7   i12_health_2        6430 non-null   int64
 8   i12_health_3        6430 non-null   int64
 9   i12_health_4        6430 non-null   int64
 10  i12_health_5        6430 non-null   int64
 11  i12_health_6        6430 non-null   int64
 12  i12_health_7        6430 non-null   int64
 13  i12_health_8        6430 non-null   int64
 14  i12_health_11       6430 non-null   int64
 15  i12_health_12       6430 non-null   int64
 16  i12_health_13       6430 non-null   int64
 17  i12_health_14       6430 non-null   int64
 18  i12_health_15       6430 non-null   int64
 19  i12_health_16       6430 non-null   int64
 20  weight              6430 non-null   float64
 21  gender              6430 non-null   int64
 22  age                 6430 non-null   int64
 23  region              6430 non-null   object
 24  household_size      6430 non-null   int64
 25  household_children  6430 non-null   float64
 26  employment_status   6430 non-null   int64
 27  cantril_ladder      6430 non-null   int64
 28  PHQ4_1              6430 non-null   int64
 29  PHQ4_2              6430 non-null   int64
 30  PHQ4_3              6430 non-null   int64
 31  PHQ4_4              6430 non-null   int64
 32  WCRex2              6430 non-null   int64
 33  WCRex1              6430 non-null   int64
 34  i12_health_22       6430 non-null   int64
 35  i12_health_23       6430 non-null   int64
 36  i12_health_25       6430 non-null   int64
 37  r1_1                6430 non-null   int64
 38  r1_2                6430 non-null   int64
 39  i12_health_26       6430 non-null   int64
 40  i12_health_27       6430 non-null   int64
 41  i12_health_28       6430 non-null   int64
 42  i12_health_29       6430 non-null   int64
 43  Soc1_1              6430 non-null   int64
 44  Soc1_2              6430 non-null   int64
 45  Soc1_3              6430 non-null   int64
 46  vac2_1              6430 non-null   int64
 47  vac2_2              6430 non-null   int64
 48  vac2_3              6430 non-null   int64
 49  vac7                6430 non-null   int64
 50  r1_8                6430 non-null   int64
 51  r1_9                6430 non-null   int64
 52  vac2_7              6430 non-null   int64
 53  vac                 6430 non-null   int64
 54  Vent_3              6430 non-null   int64
 55  vac_boost_1         6430 non-null   int64
 56  vac_man_1           6430 non-null   int64
 57  vac_man_2           6430 non-null   int64
 58  vac_man_3           6430 non-null   int64
 59  vac_man_4           6430 non-null   int64
 60  vac_man_5           6430 non-null   int64
 61  vac_man_6           6430 non-null   int64
 62  vac_man_7           6430 non-null   int64
 63  vac_man_96          6430 non-null   int64
 64  vac_man_99          6430 non-null   int64
 65  future_1            6430 non-null   int64
 66  future_2            6430 non-null   int64
 67  had_covid_2         6430 non-null   int64
dtypes: float64(2), int64(64), object(2)
memory usage: 3.3+ MB

In [29]:
final_cleaned_data.to_csv('Final Version.csv', index = False)

In [30]:
# Load the library packages we need
from numpy import arange

In [31]:
from pandas import read_table

In [32]:
from pandas import set_option

In [33]:
from pandas.plotting import scatter_matrix

In [34]:
from sklearn.preprocessing import StandardScaler

In [35]:
from sklearn.model_selection import KFold

In [36]:
from sklearn.model_selection import GridSearchCV

In [37]:
from sklearn.metrics import mean_squared_error

In [38]:
!pip install dmba

Collecting dmba
  Using cached dmba-0.2.4-py3-none-any.whl.metadata (1.9 kB)
Requirement already satisfied: graphviz in /opt/conda/lib/python3.11/site-packages (from dmba) (0.20.3)
Requirement already satisfied: matplotlib in /opt/conda/lib/python3.11/site-packages (from dmba) (3.8.2)
Requirement already satisfied: numpy in /opt/conda/lib/python3.11/site-packages (from dmba) (1.24.4)
Requirement already satisfied: pandas in /opt/conda/lib/python3.11/site-packages (from dmba) (2.1.3)
Requirement already satisfied: scikit-learn in /opt/conda/lib/python3.11/site-packages (from dmba) (1.3.2)
Requirement already satisfied: scipy in /opt/conda/lib/python3.11/site-packages (from dmba) (1.11.4)
Requirement already satisfied: contourpy>=1.0.1 in /opt/conda/lib/python3.11/site-packages (from matplotlib->dmba) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.11/site-packages (from matplotlib->dmba) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.11/site-packages (from matplotlib->dmba) (4.46.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/conda/lib/python3.11/site-packages (from matplotlib->dmba) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.11/site-packages (from matplotlib->dmba) (23.2)
Requirement already satisfied: pillow>=8 in /opt/conda/lib/python3.11/site-packages (from matplotlib->dmba) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/conda/lib/python3.11/site-packages (from matplotlib->dmba) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.11/site-packages (from matplotlib->dmba) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas->dmba) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/conda/lib/python3.11/site-packages (from pandas->dmba) (2023.3)
Requirement already satisfied: joblib>=1.1.1 in /opt/conda/lib/python3.11/site-packages (from scikit-learn->dmba) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.11/site-packages (from scikit-learn->dmba) (3.2.0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil>=2.7->matplotlib->dmba) (1.16.0)
Using cached dmba-0.2.4-py3-none-any.whl (11.8 MB)
Installing collected packages: dmba
Successfully installed dmba-0.2.4

In [39]:
from dmba import classificationSummary

no display found. Using non-interactive Agg backend

In [40]:
# Load the new data set
df = pd.read_csv("Final Version.csv")

In [41]:
# Check the shape of the dataset
df.shape

(6430, 68)

In [42]:
# Data Overview
df.head(10)
df.dtypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6430 entries, 0 to 6429
Data columns (total 68 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   RecordNo            6430 non-null   int64
 1   endtime             6430 non-null   object
 2   qweek               6430 non-null   int64
 3   i2_health           6430 non-null   int64
 4   i9_health           6430 non-null   int64
 5   i11_health          6430 non-null   int64
 6   i12_health_1        6430 non-null   int64
 7   i12_health_2        6430 non-null   int64
 8   i12_health_3        6430 non-null   int64
 9   i12_health_4        6430 non-null   int64
 10  i12_health_5        6430 non-null   int64
 11  i12_health_6        6430 non-null   int64
 12  i12_health_7        6430 non-null   int64
 13  i12_health_8        6430 non-null   int64
 14  i12_health_11       6430 non-null   int64
 15  i12_health_12       6430 non-null   int64
 16  i12_health_13       6430 non-null   int64
 17  i12_health_14       6430 non-null   int64
 18  i12_health_15       6430 non-null   int64
 19  i12_health_16       6430 non-null   int64
 20  weight              6430 non-null   float64
 21  gender              6430 non-null   int64
 22  age                 6430 non-null   int64
 23  region              6430 non-null   int64
 24  household_size      6430 non-null   int64
 25  household_children  6430 non-null   float64
 26  employment_status   6430 non-null   int64
 27  cantril_ladder      6430 non-null   int64
 28  PHQ4_1              6430 non-null   int64
 29  PHQ4_2              6430 non-null   int64
 30  PHQ4_3              6430 non-null   int64
 31  PHQ4_4              6430 non-null   int64
 32  WCRex2              6430 non-null   int64
 33  WCRex1              6430 non-null   int64
 34  i12_health_22       6430 non-null   int64
 35  i12_health_23       6430 non-null   int64
 36  i12_health_25       6430 non-null   int64
 37  r1_1                6430 non-null   int64
 38  r1_2                6430 non-null   int64
 39  i12_health_26       6430 non-null   int64
 40  i12_health_27       6430 non-null   int64
 41  i12_health_28       6430 non-null   int64
 42  i12_health_29       6430 non-null   int64
 43  Soc1_1              6430 non-null   int64
 44  Soc1_2              6430 non-null   int64
 45  Soc1_3              6430 non-null   int64
 46  vac2_1              6430 non-null   int64
 47  vac2_2              6430 non-null   int64
 48  vac2_3              6430 non-null   int64
 49  vac7                6430 non-null   int64
 50  r1_8                6430 non-null   int64
 51  r1_9                6430 non-null   int64
 52  vac2_7              6430 non-null   int64
 53  vac                 6430 non-null   int64
 54  Vent_3              6430 non-null   int64
 55  vac_boost_1         6430 non-null   int64
 56  vac_man_1           6430 non-null   int64
 57  vac_man_2           6430 non-null   int64
 58  vac_man_3           6430 non-null   int64
 59  vac_man_4           6430 non-null   int64
 60  vac_man_5           6430 non-null   int64
 61  vac_man_6           6430 non-null   int64
 62  vac_man_7           6430 non-null   int64
 63  vac_man_96          6430 non-null   int64
 64  vac_man_99          6430 non-null   int64
 65  future_1            6430 non-null   int64
 66  future_2            6430 non-null   int64
 67  had_covid_2         6430 non-null   int64
dtypes: float64(2), int64(65), object(1)
memory usage: 3.3+ MB

In [43]:
# EDA Part (Exploratory Data Analysis Part)

In [44]:
df["vac"]

0       3
1       3
2       3
3       3
4       3
       ..
6425    3
6426    2
6427    3
6428    1
6429    3
Name: vac, Length: 6430, dtype: int64

In [45]:
# Summarize the variable "vac"
# This is imbalance data
df["vac"].value_counts()

vac
3    5559
1     644
2     227
Name: count, dtype: int64

In [46]:
# We would like to do the research of "not fully vaccinated" and "fully vaccinated"
# Combine 1 and 2 as 1, and 3 become 2 
df["vac"].replace(2, 1, inplace=True)
df["vac"].replace(3, 2, inplace=True)

In [47]:
# Check whether we do it successfully
df["vac"].value_counts()

vac
2    5559
1     871
Name: count, dtype: int64

In [48]:
# Bar chart of the variable "vac"
df["vac"].value_counts().plot(kind='bar', title= "Vaccination Status")
plt.show()

In [49]:
# Correlation Matrix

In [50]:
# Selecting the numeric predictors to do the correlation matrix
numeric_predictors = df.select_dtypes(include=['number'])
correlation_matrix = numeric_predictors.corr()
print(correlation_matrix)

             RecordNo     qweek  i2_health  i9_health  i11_health  \
RecordNo     1.000000  0.988965   0.009432   0.045936   -0.006632
qweek        0.988965  1.000000   0.004523   0.046167   -0.006878
i2_health    0.009432  0.004523   1.000000   0.011435   -0.014942
i9_health    0.045936  0.046167   0.011435   1.000000    0.302581
i11_health  -0.006632 -0.006878  -0.014942   0.302581    1.000000
...               ...       ...        ...        ...         ...
vac_man_96   0.003205  0.001914  -0.014018  -0.013482   -0.022436
vac_man_99   0.013016  0.010512   0.026152   0.126670    0.114633
future_1    -0.018463 -0.014897  -0.023466  -0.039964   -0.017746
future_2    -0.022845 -0.024682  -0.004177  -0.031215   -0.012886
had_covid_2 -0.011285 -0.006253  -0.007777  -0.003615    0.008672

             i12_health_1  i12_health_2  i12_health_3  i12_health_4  \
RecordNo         0.108588      0.022444      0.062368      0.066522
qweek            0.106525      0.017876      0.055406      0.065438
i2_health        0.029046      0.006247      0.048321     -0.010125
i9_health        0.150330      0.101086      0.161656      0.125337
i11_health       0.115789      0.071962      0.101499      0.167834
...                   ...           ...           ...           ...
vac_man_96      -0.050643     -0.030403     -0.039938     -0.041321
vac_man_99       0.250169      0.082189      0.246535      0.111085
future_1        -0.117791     -0.012193     -0.128233     -0.034860
future_2        -0.112556     -0.047288     -0.114485     -0.036081
had_covid_2     -0.046786     -0.015768     -0.032626     -0.019880

             i12_health_5  ...  vac_man_3  vac_man_4  vac_man_5  vac_man_6  \
RecordNo         0.121338  ...  -0.015367  -0.038742  -0.045172  -0.051674
qweek            0.115463  ...  -0.012599  -0.033713  -0.041883  -0.046613
i2_health        0.055737  ...  -0.025874  -0.035627  -0.033642  -0.033364
i9_health        0.165962  ...  -0.127491  -0.127116  -0.118349  -0.101529
i11_health       0.120393  ...  -0.142198  -0.126895  -0.104634  -0.098661
...                   ...  ...        ...        ...        ...        ...
vac_man_96      -0.042627  ...   0.087767   0.093393   0.084190   0.084265
vac_man_99       0.268649  ...  -0.843417  -0.781902  -0.653657  -0.536033
future_1        -0.100089  ...   0.077891   0.076962   0.079788   0.080426
future_2        -0.093718  ...   0.047878   0.050447   0.059982   0.057170
had_covid_2     -0.070366  ...   0.086946   0.086612   0.082068   0.069486

             vac_man_7  vac_man_96  vac_man_99  future_1  future_2  \
RecordNo     -0.067400    0.003205    0.013016 -0.018463 -0.022845
qweek        -0.062155    0.001914    0.010512 -0.014897 -0.024682
i2_health    -0.019332   -0.014018    0.026152 -0.023466 -0.004177
i9_health    -0.103127   -0.013482    0.126670 -0.039964 -0.031215
i11_health   -0.092671   -0.022436    0.114633 -0.017746 -0.012886
...                ...         ...         ...       ...       ...
vac_man_96    0.103871    1.000000   -0.120597  0.017532  0.020859
vac_man_99   -0.507885   -0.120597    1.000000 -0.106939 -0.080152
future_1      0.068150    0.017532   -0.106939  1.000000  0.554018
future_2      0.055078    0.020859   -0.080152  0.554018  1.000000
had_covid_2   0.061231    0.030465   -0.073328  0.008319  0.025097

             had_covid_2
RecordNo       -0.011285
qweek          -0.006253
i2_health      -0.007777
i9_health      -0.003615
i11_health      0.008672
...                  ...
vac_man_96      0.030465
vac_man_99     -0.073328
future_1        0.008319
future_2        0.025097
had_covid_2     1.000000

[67 rows x 67 columns]

In [51]:
# Only show the correlation between "vac" and other variables
response = 'vac'
response_correlation = correlation_matrix[response].sort_values(ascending=False)
pd.set_option('display.max_rows', None) # We want see all the results
print(response_correlation)

vac                   1.000000
vac7                  0.502455
r1_8                  0.494183
r1_9                  0.463613
vac_man_1             0.412204
vac_man_2             0.398646
vac_man_3             0.386429
vac_man_4             0.376152
vac_man_5             0.329552
vac_man_6             0.295085
vac_man_7             0.282001
vac2_2                0.262519
r1_1                  0.205165
age                   0.145334
r1_2                  0.135240
cantril_ladder        0.084822
had_covid_2           0.074300
vac_man_96            0.063557
Soc1_3                0.047878
future_1              0.045794
qweek                 0.015900
future_2              0.014183
RecordNo              0.006290
gender                0.003639
Soc1_2               -0.012778
i2_health            -0.020040
region               -0.026142
PHQ4_2               -0.031159
PHQ4_3               -0.042666
Soc1_1               -0.044117
PHQ4_4               -0.047080
PHQ4_1               -0.049606
weight               -0.051286
i12_health_7         -0.058241
i11_health           -0.067297
i12_health_16        -0.068215
i9_health            -0.072827
vac_boost_1          -0.075598
employment_status    -0.077173
i12_health_2         -0.079417
i12_health_6         -0.084959
i12_health_12        -0.100047
i12_health_29        -0.114136
i12_health_8         -0.116446
household_children   -0.122924
i12_health_11        -0.124614
household_size       -0.126669
i12_health_13        -0.129494
Vent_3               -0.131050
i12_health_4         -0.133199
i12_health_27        -0.138373
i12_health_26        -0.147523
i12_health_15        -0.150946
i12_health_25        -0.151331
i12_health_28        -0.161054
i12_health_23        -0.172765
i12_health_14        -0.183590
vac2_1               -0.188253
i12_health_5         -0.207772
i12_health_3         -0.213066
i12_health_1         -0.214950
WCRex1               -0.233596
i12_health_22        -0.245402
WCRex2               -0.284415
vac2_7               -0.323630
vac2_3               -0.368601
vac_man_99           -0.386108
Name: vac, dtype: float64

In [52]:
# Selecting predictors
# "r1_8", "vac_man_1","vac_man_2","vac_man_3", "vac_man_4", "vac_man_5", "vac2_7", "vac2_3","vac_man_99"

In [53]:
# Checking correlation between selected predictors and delete some of the predictors
df_predictors = pd.DataFrame(df)
predictors1 = ['vac7','r1_8','r1_9','vac_man_1','vac_man_2', 'vac_man_3',
               'vac_man_4', 'vac_man_5','vac2_7','vac2_3','vac_man_99']
correlation_matrix = df_predictors[predictors1].corr()
print(correlation_matrix)

                vac7      r1_8      r1_9  vac_man_1  vac_man_2  vac_man_3  \
vac7        1.000000  0.689357  0.670946   0.531929   0.520046   0.531531
r1_8        0.689357  1.000000  0.884899   0.532933   0.520354   0.521998
r1_9        0.670946  0.884899  1.000000   0.537417   0.521514   0.527144
vac_man_1   0.531929  0.532933  0.537417   1.000000   0.894126   0.882466
vac_man_2   0.520046  0.520354  0.521514   0.894126   1.000000   0.895815
vac_man_3   0.531531  0.521998  0.527144   0.882466   0.895815   1.000000
vac_man_4   0.505047  0.502823  0.505524   0.828081   0.852646   0.850250
vac_man_5   0.440845  0.449876  0.456209   0.693500   0.725052   0.734364
vac2_7     -0.519878 -0.541451 -0.540658  -0.377177  -0.362998  -0.372330
vac2_3     -0.587895 -0.558886 -0.547642  -0.421461  -0.416587  -0.418764
vac_man_99 -0.535196 -0.520554 -0.531188  -0.895878  -0.852784  -0.843417

            vac_man_4  vac_man_5    vac2_7    vac2_3  vac_man_99
vac7         0.505047   0.440845 -0.519878 -0.587895   -0.535196
r1_8         0.502823   0.449876 -0.541451 -0.558886   -0.520554
r1_9         0.505524   0.456209 -0.540658 -0.547642   -0.531188
vac_man_1    0.828081   0.693500 -0.377177 -0.421461   -0.895878
vac_man_2    0.852646   0.725052 -0.362998 -0.416587   -0.852784
vac_man_3    0.850250   0.734364 -0.372330 -0.418764   -0.843417
vac_man_4    1.000000   0.782690 -0.364613 -0.404709   -0.781902
vac_man_5    0.782690   1.000000 -0.339712 -0.364306   -0.653657
vac2_7      -0.364613  -0.339712  1.000000  0.636415    0.401852
vac2_3      -0.404709  -0.364306  0.636415  1.000000    0.428685
vac_man_99  -0.781902  -0.653657  0.401852  0.428685    1.000000

In [54]:
# Remaining predictors 
# "r1_8", "vac_man_1", "vac_man_4", "vac_man_5", "vac2_7", "vac2_3"
# Crosstab-Analysis between response variables and predictors

In [55]:
predictors = ['vac7','r1_8','vac_man_1','vac_man_4', 'vac_man_5', 'vac2_7','vac2_3']
target = 'vac'

In [56]:
# Create subplots
n = len(predictors)  # Number of predictors
fig, axes = plt.subplots(n, 1, figsize=(8, 4 * n))  # Adjust the figure size as needed

for i, predictor in enumerate(predictors):
    # Generate the crosstab
    crosstab = pd.crosstab(df[predictor], df[target])
    crosstab.plot(kind='bar', ax=axes[i])  # Accessing axes directly
    axes[i].set_title(f'Crosstab: {predictor} vs {target}')
    axes[i].set_xlabel(predictor)
    axes[i].set_ylabel('Count')
    axes[i].legend(title=target)
plt.tight_layout()
plt.show()

In [57]:
# Create subplots
n = len(predictors)  # Number of predictors
fig, axes = plt.subplots(n, 1, figsize=(8, 4 * n))  # Adjust the figure size as needed

for i, predictor in enumerate(predictors):
    # Generate the crosstab
    crosstab = pd.crosstab(df[predictor], df[target])
    # Normalize
    crosstab_norm = crosstab.div(crosstab.sum(axis=1), axis=0)
    # Plot
    crosstab_norm.plot(kind='bar', stacked = True, ax=axes[i])  # Accessing axes directly
    axes[i].set_title(f'Crosstab: {predictor} vs {target}')
    axes[i].set_xlabel(predictor)
    axes[i].set_ylabel('Count')
    axes[i].legend(title=target)
plt.tight_layout()
plt.show()

In [58]:
# These plots shows the distributions of the predictors.
# The predictors "vac_man_1", "vac_man_4","vac_man_7" are binary dummy variables
# The predictors "vac7", "r1_8" and "vac2_3" are not normal distribution, need normalize
df[predictors].hist(sharex = False, sharey = False, xlabelsize = 1, ylabelsize = 1)

array([[<Axes: title={'center': 'vac7'}>,
        <Axes: title={'center': 'r1_8'}>,
        <Axes: title={'center': 'vac_man_1'}>],
       [<Axes: title={'center': 'vac_man_4'}>,
        <Axes: title={'center': 'vac_man_5'}>,
        <Axes: title={'center': 'vac2_7'}>],
       [<Axes: title={'center': 'vac2_3'}>, <Axes: >, <Axes: >]],
      dtype=object)

In [59]:
# The plots shows same thing as distribution.
# There are no outliers visible in these plots 
# Because we did not see any of the data points extend beyond the whiskers.
df[predictors].plot(kind = 'box', subplots = True, layout =(4,4), 
             sharex = False, sharey = False, fontsize = 8)

vac7            Axes(0.125,0.712609;0.168478x0.167391)
r1_8         Axes(0.327174,0.712609;0.168478x0.167391)
vac_man_1    Axes(0.529348,0.712609;0.168478x0.167391)
vac_man_4    Axes(0.731522,0.712609;0.168478x0.167391)
vac_man_5       Axes(0.125,0.511739;0.168478x0.167391)
vac2_7       Axes(0.327174,0.511739;0.168478x0.167391)
vac2_3       Axes(0.529348,0.511739;0.168478x0.167391)
dtype: object

In [60]:
sns.heatmap(df[predictors].corr(method='pearson'))

In [61]:
# KNN

In [62]:
array = df.values
array

array([[41589, '06/01/2022 18:02', 44, ..., 2, 2, 2],
       [41731, '03/01/2022 23:48', 44, ..., 3, 3, 2],
       [41756, '10/01/2022 04:53', 44, ..., 3, 1, 2],
       ...,
       [48369, '27/03/2022 15:31', 50, ..., 3, 3, 1],
       [48370, '27/03/2022 16:23', 50, ..., 3, 2, 2],
       [48371, '27/03/2022 16:45', 50, ..., 3, 3, 2]], dtype=object)

In [63]:
# Creating X-array with remaining predictors: "vac2_3","r1_8","vac2_7", "vac_man_1", "vac_man_4", "vac_man_5"

In [64]:
predictors_columns = [48, 50, 52, 56, 59, 60]
X = df.iloc[:,predictors_columns]

In [65]:
y = df.iloc[:,53]

In [66]:
# As we can see, there is imbalance in the dataset.
# We want to make sure there is enough "1" values in y so we use larger test set
test_size = 0.3

In [67]:
seed = 42

In [68]:
X_train,X_test, y_train, y_test = train_test_split(X,y,test_size=test_size,
                                                   random_state = seed, stratify = y)

In [69]:
# Normalize the x_training dataset
scaler = StandardScaler().fit(X_train)
rescaledX_train = scaler.transform(X_train)

In [70]:
# According to the square root of N rule,
k_values = np.arange(1,80)

In [71]:
param_grid = dict(n_neighbors=k_values)

In [72]:
num_folds = 10

In [73]:
scoring = 'accuracy'

In [74]:
model = KNeighborsClassifier()

In [75]:
kfold = KFold(n_splits=num_folds, shuffle = True, random_state = seed)

In [76]:
kfold.split(X_train)

In [77]:
cv_results = cross_val_score(model, X_train, y_train, cv=kfold, scoring = scoring)

In [78]:
msg = "KNN %f (%f)" % (cv_results.mean(),cv_results.std())
print(msg)

KNN 0.884690 (0.014537)

In [79]:
cv_results

array([0.89578714, 0.87333333, 0.86444444, 0.88222222, 0.88888889,
       0.86666667, 0.9       , 0.88444444, 0.91333333, 0.87777778])

In [80]:
grid = GridSearchCV(estimator=model, param_grid=param_grid, scoring= scoring, cv=kfold)

In [81]:
grid_result = grid.fit(rescaledX_train, y_train)

In [82]:
print("Best:%f using %s" %(grid_result.best_score_,grid_result.best_params_))

Best:0.896911 using {'n_neighbors': 42}

In [83]:
means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']

In [84]:
for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean,stdev,param))

0.849147 (0.020838) with: {'n_neighbors': 1}
0.819597 (0.021159) with: {'n_neighbors': 2}
0.882467 (0.014025) with: {'n_neighbors': 3}
0.871140 (0.014160) with: {'n_neighbors': 4}
0.887133 (0.013010) with: {'n_neighbors': 5}
0.884912 (0.013270) with: {'n_neighbors': 6}
0.887133 (0.013752) with: {'n_neighbors': 7}
0.886022 (0.016827) with: {'n_neighbors': 8}
0.891799 (0.014758) with: {'n_neighbors': 9}
0.889355 (0.015974) with: {'n_neighbors': 10}
0.892687 (0.013431) with: {'n_neighbors': 11}
0.893577 (0.016084) with: {'n_neighbors': 12}
0.893355 (0.016495) with: {'n_neighbors': 13}
0.893577 (0.016565) with: {'n_neighbors': 14}
0.893354 (0.017514) with: {'n_neighbors': 15}
0.893577 (0.015960) with: {'n_neighbors': 16}
0.893799 (0.016247) with: {'n_neighbors': 17}
0.893800 (0.016573) with: {'n_neighbors': 18}
0.894243 (0.016106) with: {'n_neighbors': 19}
0.894244 (0.016937) with: {'n_neighbors': 20}
0.893800 (0.015748) with: {'n_neighbors': 21}
0.894244 (0.015217) with: {'n_neighbors': 22}
0.895356 (0.014628) with: {'n_neighbors': 23}
0.895577 (0.015565) with: {'n_neighbors': 24}
0.893800 (0.015431) with: {'n_neighbors': 25}
0.894466 (0.016618) with: {'n_neighbors': 26}
0.894911 (0.015722) with: {'n_neighbors': 27}
0.894244 (0.015762) with: {'n_neighbors': 28}
0.896022 (0.015838) with: {'n_neighbors': 29}
0.895133 (0.014778) with: {'n_neighbors': 30}
0.894022 (0.015534) with: {'n_neighbors': 31}
0.894911 (0.014346) with: {'n_neighbors': 32}
0.895356 (0.015256) with: {'n_neighbors': 33}
0.895577 (0.015406) with: {'n_neighbors': 34}
0.896244 (0.016065) with: {'n_neighbors': 35}
0.896022 (0.015903) with: {'n_neighbors': 36}
0.896244 (0.016340) with: {'n_neighbors': 37}
0.896022 (0.016602) with: {'n_neighbors': 38}
0.896244 (0.016991) with: {'n_neighbors': 39}
0.896244 (0.016520) with: {'n_neighbors': 40}
0.896244 (0.016520) with: {'n_neighbors': 41}
0.896911 (0.015249) with: {'n_neighbors': 42}
0.896244 (0.016520) with: {'n_neighbors': 43}
0.896466 (0.016702) with: {'n_neighbors': 44}
0.895799 (0.015986) with: {'n_neighbors': 45}
0.895355 (0.016048) with: {'n_neighbors': 46}
0.896244 (0.016430) with: {'n_neighbors': 47}
0.896466 (0.016494) with: {'n_neighbors': 48}
0.896244 (0.016430) with: {'n_neighbors': 49}
0.896911 (0.016995) with: {'n_neighbors': 50}
0.896022 (0.016211) with: {'n_neighbors': 51}
0.896244 (0.016279) with: {'n_neighbors': 52}
0.896022 (0.016211) with: {'n_neighbors': 53}
0.895577 (0.015913) with: {'n_neighbors': 54}
0.895132 (0.015403) with: {'n_neighbors': 55}
0.895132 (0.015403) with: {'n_neighbors': 56}
0.895132 (0.015403) with: {'n_neighbors': 57}
0.895132 (0.015403) with: {'n_neighbors': 58}
0.895132 (0.015403) with: {'n_neighbors': 59}
0.894910 (0.015185) with: {'n_neighbors': 60}
0.894910 (0.015185) with: {'n_neighbors': 61}
0.894688 (0.015575) with: {'n_neighbors': 62}
0.894910 (0.015570) with: {'n_neighbors': 63}
0.894910 (0.015250) with: {'n_neighbors': 64}
0.895132 (0.015111) with: {'n_neighbors': 65}
0.895132 (0.015338) with: {'n_neighbors': 66}
0.894688 (0.015575) with: {'n_neighbors': 67}
0.895132 (0.015338) with: {'n_neighbors': 68}
0.894910 (0.015665) with: {'n_neighbors': 69}
0.895132 (0.015338) with: {'n_neighbors': 70}
0.894688 (0.015702) with: {'n_neighbors': 71}
0.894688 (0.015702) with: {'n_neighbors': 72}
0.894910 (0.015379) with: {'n_neighbors': 73}
0.894688 (0.015702) with: {'n_neighbors': 74}
0.894688 (0.015702) with: {'n_neighbors': 75}
0.894910 (0.015379) with: {'n_neighbors': 76}
0.894466 (0.015574) with: {'n_neighbors': 77}
0.894688 (0.015252) with: {'n_neighbors': 78}
0.894688 (0.015702) with: {'n_neighbors': 79}

In [85]:
plt.plot(k_values, means)
plt.xlabel('Number of Neighbors k')
plt.ylabel('Accuracy')

Text(0, 0.5, 'Accuracy')

In [86]:
# Building the model by using n_neighbors=42
model = KNeighborsClassifier(n_neighbors=42)

In [87]:
# Fitting model
model.fit(rescaledX_train, y_train)

KNeighborsClassifier(n_neighbors=42)

In [88]:
# Rescaled for the X_test data for better predictions
rescaledX_test = scaler.transform(X_test)

In [89]:
estimates = model.predict(rescaledX_test)

In [90]:
estimates

array([1, 2, 2, ..., 2, 2, 2])

In [91]:
(y_test,estimates)

(5124    1
 1327    2
 4560    2
 3595    1
 4121    2
 26      1
 3408    2
 3488    1
 3583    2
 2780    1
 739     2
 1520    2
 1274    2
 6237    2
 5148    2
 5244    2
 2896    1
 4294    2
 4611    2
 3188    2
 4855    2
 4922    2
 3761    2
 1612    1
 888     2
 612     2
 3428    2
 4162    2
 2824    2
 1604    2
 6394    2
 5814    2
 1403    2
 1474    2
 2740    1
 1734    2
 5371    2
 1662    2
 934     2
 1444    1
 2538    2
 1486    2
 3890    2
 4540    2
 2334    2
 657     2
 4126    2
 4311    2
 3457    2
 1563    2
 1319    2
 3620    2
 2453    2
 684     1
 454     2
 847     2
 5815    1
 4459    2
 5104    2
 5017    2
 6162    1
 2075    2
 6104    2
 6115    2
 6132    2
 6306    2
 5352    1
 3749    2
 3701    2
 302     2
 3052    2
 6044    2
 1162    2
 4205    2
 3560    1
 2626    2
 5308    2
 5449    2
 4586    2
 191     1
 2097    2
 4669    2
 4752    2
 2236    2
 3800    2
 3557    2
 4163    2
 4979    2
 1954    2
 1664    1
 2977    2
 2759    2
 2646    2
 604     2
 4861    2
 1149    2
 3148    2
 4002    2
 276     2
 5497    2
 834     1
 3320    2
 5546    2
 5430    1
 2285    2
 5414    2
 1963    2
 2964    1
 1779    2
 1714    2
 6184    2
 2402    2
 404     2
 2286    2
 1023    2
 1460    2
 2473    2
 5887    2
 1441    2
 2998    1
 5569    1
 5140    2
 5856    2
 1893    2
 5838    1
 5595    2
 5970    2
 4250    2
 5539    2
 3585    2
 1577    2
 5047    2
 4582    2
 1965    1
 3443    2
 538     2
 3341    2
 5621    2
 4862    2
 2255    1
 5097    2
 6202    2
 3678    2
 5612    2
 2269    2
 2969    2
 4952    2
 4494    2
 6246    2
 972     2
 5391    1
 5981    2
 5849    2
 5972    2
 5692    2
 3115    2
 2372    2
 6343    2
 3526    2
 1955    2
 3570    2
 2234    2
 2353    2
 3987    2
 2705    1
 814     2
 135     2
 678     2
 4485    2
 1118    2
 3387    2
 1624    2
 2509    2
 2240    2
 147     2
 4130    2
 740     2
 1117    2
 3548    2
 1853    2
 3154    2
 5580    2
 2872    2
 1100    2
 2377    2
 2752    2
 1190    2
 716     2
 1236    2
 405     2
 2564    2
 1073    1
 2446    2
 640     2
 2904    2
 1439    2
 5241    2
 2365    2
 1443    1
 3145    2
 1746    2
 4458    2
 5558    2
 4578    2
 478     2
 5570    2
 1503    2
 978     2
 2004    2
 5324    2
 6160    2
 132     2
 5750    2
 1690    2
 2899    2
 5585    2
 3230    2
 5087    2
 4406    2
 5095    2
 1501    2
 2963    2
 1553    1
 4408    2
 5197    2
 1832    2
 1054    2
 5286    2
 5445    1
 5176    2
 4889    2
 5174    2
 2597    1
 5709    2
 6028    2
 4412    2
 3645    2
 4725    2
 4256    2
 1655    2
 1740    2
 1211    2
 4251    2
 3579    2
 1916    2
 3591    2
 1367    2
 4490    1
 1107    2
 3217    2
 197     2
 5256    2
 345     2
 4110    2
 316     2
 967     2
 3032    2
 2392    2
 1609    2
 4537    2
 3303    1
 4051    2
 5553    2
 5568    2
 1151    2
 2890    2
 5630    2
 5121    1
 4085    2
 875     2
 6027    2
 868     2
 605     2
 99      1
 1373    2
 1840    2
 5653    2
 2910    2
 1485    2
 1354    2
 2502    2
 1710    2
 502     1
 5542    2
 4843    1
 6155    2
 4720    2
 5646    2
 2976    2
 1575    2
 3324    2
 3681    1
 1850    1
 971     2
 1079    2
 4591    2
 1092    2
 4870    2
 451     2
 4350    1
 2835    2
 2881    2
 2267    2
 2721    2
 4236    2
 4483    2
 1308    2
 5454    2
 4337    2
 6302    2
 3252    2
 4766    2
 6170    2
 1914    2
 1836    2
 2440    2
 5764    2
 1948    2
 4374    2
 336     2
 6203    2
 2641    2
 3636    1
 464     2
 4296    2
 4199    2
 4142    1
 5383    2
 3914    2
 2382    2
 2023    2
 2000    2
 2709    2
 5783    2
 1281    2
 6213    2
 5659    2
 1091    2
 2735    2
 4345    2
 3268    1
 4467    2
 4164    2
 4056    2
 5781    1
 909     2
 4224    2
 3186    2
 2580    2
 4897    2
 6254    1
 2552    2
 3281    1
 2529    2
 4727    2
 2755    2
 2356    2
 2139    2
 6390    1
 111     2
 4644    2
 1891    1
 3916    2
 458     1
 6350    2
 4893    2
 5703    2
 2313    2
 2366    1
 2871    2
 2548    2
 3376    2
 4399    2
 4984    2
 2617    2
 3350    1
 2056    2
 2980    2
 1707    1
 5620    2
 6253    2
 3684    2
 4990    2
 1261    2
 1126    2
 5853    2
 4031    2
 5129    1
 3883    2
 2717    2
 457     2
 3450    2
 5125    2
 3767    2
 3745    2
 3830    2
 3471    2
 2629    2
 5870    2
 4371    2
 3311    2
 2481    2
 1223    2
 949     2
 1872    2
 2911    2
 1059    2
 4694    2
 6180    2
 729     2
 443     2
 2519    2
 1179    1
 4918    2
 262     2
 856     2
 2130    2
 4593    2
 4911    2
 2415    2
 4068    2
 5493    2
 1       2
 5921    2
 6312    1
 3886    2
 1152    2
 1127    2
 5556    2
 1451    2
 545     2
 1157    2
 22      2
 304     2
 1608    1
 2507    2
 3695    1
 622     2
 795     1
 6084    2
 2895    1
 2095    2
 5544    2
 2       2
 228     2
 1842    2
 3499    2
 525     2
 5462    2
 4506    2
 98      2
 5541    2
 2405    2
 4084    2
 5977    1
 5452    2
 695     2
 824     2
 701     2
 1471    2
 745     2
 2293    2
 1863    1
 3960    2
 3947    2
 938     1
 91      2
 1113    2
 505     2
 133     2
 4010    2
 5957    1
 2274    2
 3352    1
 5114    2
 1279    2
 1456    1
 2558    2
 2223    2
 1028    2
 2449    2
 4460    2
 5313    2
 1280    2
 2726    2
 5532    2
 4213    2
 3577    2
 907     2
 5041    1
 3685    2
 1874    2
 374     2
 5406    1
 2479    2
 3744    2
 913     2
 2827    1
 2408    2
 5986    2
 2869    2
 2393    2
 5219    2
 555     2
 4487    1
 2722    2
 4249    2
 5078    2
 6425    2
 1635    2
 536     2
 21      2
 2329    2
 2221    1
 1455    2
 5533    2
 3897    2
 5667    2
 5144    2
 3178    2
 77      2
 6020    2
 4879    2
 6357    2
 5760    2
 93      2
 4515    2
 5504    2
 3435    2
 4475    1
 5195    2
 4277    2
 2920    2
 2263    2
 5221    2
 2370    2
 609     1
 3688    2
 2738    2
 2815    2
 3705    2
 6140    2
 2955    2
 3294    1
 4754    2
 5523    2
 1463    1
 4248    2
 1187    2
 5162    2
 2480    1
 5661    2
 6083    2
 6245    2
 2926    2
 2829    1
 3699    2
 4697    2
 1555    2
 935     2
 5101    2
 2093    1
 4823    2
 328     2
 960     2
 1805    2
 3416    2
 3106    2
 3652    2
 1537    2
 5       2
 2770    2
 4177    2
 634     2
 4146    1
 4657    2
 1875    2
 5065    2
 3716    2
 3949    2
 4898    2
 2952    2
 2362    2
 2526    2
 4737    2
 3074    2
 267     2
 1790    2
 1138    2
 5399    1
 697     2
 1592    2
 1704    2
 5516    1
 3494    2
 2046    2
 6119    2
 1531    2
 5307    2
 5746    2
 3740    2
 313     2
 2216    2
 6247    2
 3741    2
 4145    1
 998     2
 1018    2
 2284    1
 4620    2
 5550    2
 6085    1
 4133    1
 1788    1
 1205    2
 201     2
 1359    2
 4821    2
 5827    1
 3276    2
 4798    2
 3460    2
 4353    2
 4543    2
 3874    2
 920     2
 3022    2
 4166    2
 2500    1
 3739    2
 3003    1
 4936    2
 1304    2
 2948    2
 2631    2
 1852    2
 4307    2
 4006    2
 1711    2
 2190    2
 4614    2
 3550    2
 1448    2
 1475    2
 1574    1
 4268    2
 1200    2
 2179    2
 2765    2
 1072    2
 4252    2
 5113    2
 3354    1
 5341    2
 1175    2
 1497    1
 137     2
 317     2
 1632    2
 6042    1
 6323    2
 2108    2
 3532    2
 2936    2
 1024    2
 3697    2
 2403    2
 3894    2
 5165    2
 5528    1
 3400    2
 4912    2
 889     2
 1557    2
 1400    2
 3524    2
 676     1
 3581    1
 5136    1
 3908    2
 5112    2
 6227    2
 6069    2
 354     2
 5854    2
 1214    2
 2316    2
 2034    2
 3104    2
 3989    2
 5810    2
 5920    2
 235     2
 3775    2
 4844    2
 237     2
 4153    2
 4576    2
 1525    2
 2001    2
 5092    1
 5385    2
 307     2
 2052    2
 1748    2
 3455    2
 152     2
 831     2
 5536    2
 335     2
 3963    2
 3665    2
 6204    2
 2847    2
 5614    2
 5183    2
 4413    2
 11      2
 3689    2
 2201    2
 4948    2
 5396    2
 873     2
 1685    2
 791     2
 5947    2
 154     2
 3448    2
 4332    2
 4832    2
 3542    2
 1037    2
 4140    2
 5250    2
 6411    2
 2540    2
 4690    1
 613     2
 2663    2
 3904    2
 5741    1
 3600    2
 3811    2
 557     1
 3060    2
 1866    2
 4212    2
 408     2
 1961    2
 2488    2
 4672    2
 711     2
 5748    2
 4770    2
 4597    2
 1913    2
 2786    2
 5120    2
 1125    2
 1506    1
 5034    2
 6050    2
 1502    2
 3820    2
 4036    2
 1843    2
 5545    2
 6089    2
 3664    2
 4016    2
 1021    2
 2791    2
 4127    2
 5259    2
 1301    2
 1622    1
 4665    2
 5557    1
 2493    2
 2463    2
 1899    1
 5780    2
 4505    2
 2013    2
 4165    2
 763     2
 2638    2
 3899    2
 3016    2
 3553    2
 2367    2
 813     2
 5279    2
 439     1
 5513    2
 779     2
 10      2
 3427    2
 2068    2
 6225    2
 2798    2
 4139    2
 4524    2
 3334    2
 2888    1
 2249    2
 3902    2
 2821    2
 3629    2
 2314    2
 5537    1
 3174    2
 5191    2
 5976    2
 4193    2
 3510    1
 1514    2
 4072    2
 4640    2
 5834    2
 2298    2
 5864    2
 6365    2
 4626    2
 4398    2
 261     2
 2747    2
 4649    2
 3663    2
 3347    2
 5879    1
 6081    1
 3791    2
 5543    1
 431     2
 5416    2
 1185    2
 2953    2
 168     2
 2793    2
 3316    2
 603     2
 1462    2
 5702    1
 1432    2
 5155    1
 5938    2
 4178    2
 809     2
 5000    2
 894     2
 1177    2
 1153    2
 1111    2
 4122    1
 5321    1
 4747    2
 4940    2
 1902    2
 5847    1
 6403    2
 3465    2
 1217    2
 1494    1
 4477    2
 5925    2
 3012    2
 5636    2
 564     2
 5759    1
 348     1
 2668    2
 3964    2
 5987    1
 1493    2
 4884    1
 477     1
 2623    2
 4078    2
 5028    2
 4100    1
 2810    2
 1761    2
 6391    2
 2857    2
 5606    2
 1901    2
 3596    2
 2098    2
 4254    2
 1718    2
 2987    1
 3181    2
 6068    2
 1923    2
 38      2
 6337    2
 341     2
 4082    1
 5057    2
 1930    2
 2880    2
 2819    2
 5505    1
 1096    1
 1047    2
 171     2
 4938    2
 1692    2
 4570    2
 3965    2
 4093    2
 5237    1
 1607    1
 4468    1
 5038    2
 968     2
 1885    2
 5208    2
 4280    2
 3014    2
 848     2
 3625    2
 5526    2
 1975    2
 2135    2
 3567    2
 3343    1
 1257    2
 1940    2
 2410    2
 5639    2
 1915    2
 4658    1
 5168    2
 3787    2
 269     2
 5295    2
 1783    2
 4839    2
 3814    2
 4432    2
 3296    2
 2055    2
 2739    2
 1259    2
 160     2
 1303    1
 558     2
 42      2
 951     2
 3095    2
 218     2
 5574    2
 6285    2
 2294    1
 5001    2
 6175    2
 859     2
 3071    1
 5390    1
 1130    2
 1323    2
 689     2
 4584    2
 4915    1
 1781    2
 2156    2
 5328    2
 4773    2
 2656    2
 3972    2
 3552    2
 2470    2
 2242    2
 2515    1
 3507    2
 5366    2
 2123    2
 418     2
 2533    2
 4510    2
 1576    1
 4628    2
 2349    2
 3304    2
 5571    2
 3146    2
 202     2
 3482    2
 973     2
 3812    2
 1006    2
 4308    2
 2227    2
 6248    2
 2661    2
 4744    2
 5851    2
 2369    2
 2128    2
 5948    2
 6075    2
 4944    1
 1715    2
 4824    2
 5441    2
 2399    2
 6371    2
 2492    2
 2127    2
 5985    2
 2344    2
 1309    2
 5067    2
 4048    2
 4417    2
 140     2
 2584    2
 3130    1
 1934    2
 6208    2
 3807    2
 4808    1
 3147    2
 1243    2
 4533    2
 3683    1
 1069    2
 2897    2
 5107    2
 2062    1
 1094    2
 4750    2
 1691    2
 4106    2
 4812    2
 3344    2
 5635    2
 2939    2
 4260    2
 13      2
 3954    2
 776     2
 3727    2
 1534    2
 3867    2
 488     2
 1581    2
 1539    1
 3618    2
 1649    2
 6183    2
 6373    2
 1370    2
 1680    2
 3156    2
 3538    2
 2865    2
 441     2
 1530    2
 268     2
 3168    2
 915     2
 6210    2
 2374    2
 1839    2
 5388    2
 5118    2
 4508    2
 4814    1
 2863    2
 4607    2
 5641    2
 6329    2
 4746    2
 3759    2
 3223    2
 2244    2
 5600    2
 2565    1
 56      2
 3063    2
 4059    2
 1898    2
 5402    2
 1321    2
 2082    2
 1542    2
 1818    2
 1442    2
 2610    1
 6176    2
 4043    2
 4269    2
 5483    2
 4553    2
 1240    2
 5715    2
 5762    1
 1183    2
 1039    2
 6226    2
 4451    2
 5796    2
 5099    2
 6427    2
 4630    2
 3078    2
 1210    2
 6025    2
 155     2
 5917    2
 3255    2
 4892    2
 6286    2
 2238    2
 1413    1
 5695    2
 6113    1
 459     2
 5471    2
 2621    2
 61      2
 1639    2
 1754    2
 1417    2
 5934    2
 1102    1
 936     2
 5581    2
 4208    2
 810     2
 6298    2
 5111    2
 2877    1
 3655    2
 394     1
 3279    1
 169     2
 643     1
 4189    2
 5682    2
 4201    2
 4154    1
 30      2
 5167    2
 4835    1
 1932    2
 2720    2
 3537    2
 4756    2
 2812    2
 5666    1
 4348    2
 1860    2
 4736    2
 3218    2
 3172    2
 4629    2
 3044    2
 652     2
 1384    1
 3059    2
 1573    2
 16      2
 1166    1
 3464    2
 1677    2
 1546    2
 81      2
 3175    1
 6102    2
 357     2
 6097    2
 985     1
 691     1
 5491    2
 2364    2
 1005    1
 353     2
 3053    2
 2704    2
 5980    2
 3720    2
 2264    2
 322     1
 3757    2
 4245    2
 1251    2
 5411    2
 1034    2
 2261    2
 2214    2
 6099    2
 368     2
 1171    2
 3920    2
 741     2
 212     2
 3849    2
 4441    2
 6055    2
 2968    2
 910     2
 5601    1
 5991    2
 3644    2
 6402    2
 902     2
 234     2
 3778    2
 4329    2
 1535    2
 166     2
 3748    2
 4131    2
 2109    2
 1452    2
 5967    2
 4732    2
 1564    2
 1558    2
 5560    2
 3502    1
 5249    1
 5897    2
 3845    2
 4065    2
 3439    2
 2357    2
 4858    2
 3444    2
 1077    2
 349     2
 1689    2
 5909    2
 6074    2
 698     2
 1619    2
 5566    1
 4957    2
 2542    2
 484     2
 5919    2
 2054    2
 4007    1
 3392    2
 2042    2
 1978    2
 4158    2
 3566    2
 758     2
 6385    2
 4309    2
 514     2
 5859    2
 4978    2
 1846    2
 2066    1
 1650    2
 2973    2
 3248    2
 3624    1
 5407    2
 281     1
 6228    2
 1496    2
 2477    2
 999     2
 541     2
 2671    1
 3703    2
 260     2
 5576    2
 2525    2
 1630    2
 4937    2
 2146    2
 6061    2
 48      2
 1225    2
 3007    2
 3292    2
 2394    2
 5613    2
 1045    2
 4270    1
 2838    2
 2632    2
 4001    2
 23      2
 2659    2
 2891    2
 581     1
 3378    2
 3018    2
 4851    2
 4171    2
 1357    1
 753     1
 4677    2
 3523    2
 5394    2
 5035    2
 1811    2
 4768    2
 1449    2
 5060    2
 3285    1
 4298    2
 3803    2
 1999    2
 2774    2
 5030    1
 5453    2
 4416    2
 5979    2
 5473    2
 663     2
 4741    1
 257     2
 6229    2
 380     2
 1342    2
 266     2
 2707    2
 6090    2
 450     2
 3272    2
 62      2
 4089    2
 3051    2
 498     1
 661     2
 1799    2
 1184    2
 3091    2
 1229    2
 6053    2
 2014    2
 5252    2
 136     2
 346     2
 172     2
 4993    2
 3491    1
 5275    2
 406     2
 3746    2
 3029    1
 4784    1
 5016    2
 4279    1
 1712    2
 173     2
 2787    2
 5818    2
 421     2
 2011    1
 6131    2
 384     2
 6259    2
 5824    2
 420     2
 2576    2
 5368    2
 3802    2
 2126    2
 509     2
 1349    2
 3410    2
 2092    2
 3582    2
 6024    2
 5079    2
 1076    2
 2359    2
 5582    2
 2376    2
 1074    2
 492     2
 1990    2
 970     2
 2103    2
 1428    2
 4290    2
 3495    2
 5651    2
 259     2
 3441    1
 993     2
 4088    1
 4772    2
 5648    1
 5518    2
 2742    2
 2208    2
 6165    2
 4124    2
 4880    2
 2729    2
 708     2
 4646    2
 4956    1
 1392    2
 5754    2
 616     2
 639     2
 249     2
 3371    2
 4675    2
 5798    2
 506     2
 4693    2
 2602    2
 5944    2
 4876    2
 4325    2
 2746    2
 5432    2
 5292    2
 1093    2
 392     2
 4234    2
 1036    2
 5965    2
 5697    2
 5258    2
 528     1
 5229    2
 4781    2
 4514    1
 2057    2
 828     1
 4878    2
 5110    2
 4604    2
 4787    2
 4020    2
 2363    2
 4661    2
 5599    1
 1396    2
 6268    2
 4519    2
 5605    2
 2657    2
 1935    2
 2460    2
 930     2
 4445    2
 5829    2
 5892    2
 2634    2
 4507    2
 5714    2
 3208    2
 5793    2
 819     2
 5552    2
 1782    2
 2205    2
 3415    2
 939     2
 2501    2
 4044    2
 1446    2
 838     2
 3990    2
 3207    2
 5131    1
 80      2
 5149    2
 4875    2
 300     2
 5032    2
 188     1
 3607    2
 1318    1
 3058    2
 2496    2
 4273    2
 2504    1
 4619    2
 4689    2
 3284    2
 75      2
 5835    2
 69      2
 4674    2
 4052    2
 1809    2
 3933    2
 1917    2
 2166    2
 6114    2
 988     1
 2422    2
 4033    1
 3514    2
 4168    2
 2937    2
 377     2
 4924    2
 3891    2
 3286    2
 553     2
 861     2
 2719    1
 2412    1
 4609    2
 5296    2
 922     2
 5393    2
 2308    2
 5931    2
 298     2
 1775    2
 3516    2
 1209    2
 3057    2
 1616    2
 2673    2
 4454    2
 5788    2
 4778    2
 4696    2
 4415    2
 3682    2
 5487    2
 5346    1
 3265    2
 3985    2
 55      2
 6262    2
 2310    2
 3565    2
 2866    2
 6047    2
 5717    1
 1997    2
 37      2
 1317    2
 3256    1
 6219    2
 531     2
 123     2
 2894    2
 743     2
 3470    2
 3262    2
 832     2
 1440    1
 1055    2
 6019    2
 4123    1
 5115    2
 577     2
 4473    2
 2193    2
 2844    2
 5730    1
 777     2
 3098    2
 6289    2
 1123    2
 4400    2
 4701    2
 2506    2
 5912    2
 2096    2
 2304    2
 2667    1
 841     2
 578     1
 2137    2
 4542    1
 5234    2
 5910    2
 251     2
 4765    2
 3895    2
 1610    2
 4571    2
 618     2
 1868    1
 4395    1
 5520    2
 2456    2
 1634    2
 2615    2
 4482    2
 1381    2
 1320    2
 1245    2
 3660    2
 3394    2
 5999    2
 617     1
 1289    2
 3163    2
 1626    2
 40      2
 573     2
 1508    2
 5626    1
 6033    2
 4225    2
 6141    2
 3855    2
 5245    1
 4852    1
 806     1
 1154    2
 2935    2
 4169    2
 6177    2
 2710    2
 6205    2
 2155    2
 124     2
 3381    2
 2779    2
 2510    2
 1167    2
 3477    2
 1722    1
 2295    2
 5365    2
 5376    2
 760     2
 3       2
 5299    2
 4788    2
 4062    2
 436     2
 2416    2
 621     2
 44      2
 4301    2
 226     1
 4135    2
 2816    2
 5280    2
 2997    2
 5153    2
 1328    2
 1148    2
 5676    2
 4322    2
 6257    2
 565     2
 5007    2
 6260    2
 2648    1
 833     2
 4650    2
 3879    1
 2945    2
 6276    2
 3418    2
 1569    2
 3150    2
 1824    2
 3588    2
 1522    2
 4809    2
 1517    1
 1728    2
 4719    2
 5740    2
 1104    2
 4128    2
 4152    2
 6148    2
 4692    2
 4638    2
 2251    2
 2843    2
 959     2
 3399    2
 5807    2
 882     1
 1949    2
 4974    1
 6263    2
 1053    2
 1747    2
 1481    2
 3047    2
 3793    2
 1112    1
 5618    2
 3956    2
 3197    2
 5186    2
 3114    2
 4592    1
 2961    2
 3451    2
 1964    2
 3921    2
 1812    1
 3919    2
 2448    2
 2743    2
 1052    2
 365     2
 4742    2
 965     2
 3536    2
 3613    2
 4826    2
 3813    2
 2158    2
 2380    2
 527     2
 231     1
 6361    1
 1070    2
 401     2
 5996    2
 1936    1
 5130    2
 1241    2
 673     2
 705     2
 3144    2
 6121    2
 6413    1
 4355    2
 3112    2
 6145    2
 1633    2
 4795    1
 1044    2
 2292    2
 3996    2
 5075    2
 2508    2
 5217    2
 6091    2
 837     1
 3478    2
 3858    2
 3157    2
 6221    2
 642     1
 4037    2
 5940    2
 5756    2
 2434    1
 5634    2
 645     2
 5287    2
 2749    2
 4850    1
 2856    2
 473     2
 3948    2
 6397    2
 2484    2
 5684    2
 5861    2
 677     2
 3690    2
 916     2
 846     2
 5507    2
 4202    2
 2930    1
 5323    2
 2772    2
 2059    2
 4314    2
 4057    2
 4545    2
 6314    2
 3822    2
 3481    2
 5031    2
 312     2
 5736    2
 6324    2
 5602    2
 976     2
 2801    2
 3089    2
 1401    2
 4456    2
 3863    2
 3269    2
 2386    2
 5819    2
 4758    2
 994     2
 379     2
 6348    1
 423     2
 3614    2
 4293    2
 5409    2
 6274    2
 3043    2
 2596    2
 3241    1
 3801    2
 2986    2
 1654    2
 2025    2
 1974    2
 3337    2
 1132    2
 5603    2
 4386    2
 5438    2
 1665    2

In [92]:
model.get_params()

{'algorithm': 'auto',
 'leaf_size': 30,
 'metric': 'minkowski',
 'metric_params': None,
 'n_jobs': None,
 'n_neighbors': 42,
 'p': 2,
 'weights': 'uniform'}

In [93]:
accuracy_score(y_test, estimates)

0.8963193364437533

In [94]:
classificationSummary(y_test, estimates)

Confusion Matrix (Accuracy 0.8963)

       Prediction
Actual    0    1
     0  123  138
     1   62 1606

In [97]:
print("Classification report:")
print(classification_report(y_test, estimates))

Classification report:
              precision    recall  f1-score   support

           1       0.66      0.47      0.55       261
           2       0.92      0.96      0.94      1668

    accuracy                           0.90      1929
   macro avg       0.79      0.72      0.75      1929
weighted avg       0.89      0.90      0.89      1929